@keyframes flashBackground {
  from {
    background-color: var(--secondary);
  }
  to {
    background-color: transparent;
  }
}

.generatedTime {
  padding: 3px 6px;
  border-radius: 5px;
}

.generatedTime--animate {
  animation-name: flashBackground;
  animation-duration: 2s;
  animation-timing-function: ease;
}
